  <!-- Sidebar -->
    <div class="admin-sidebar p-3 d-flex flex-column">
      <div class="admin-brand">
        <%= link_to admin_products_path, class: "d-flex align-items-center" do %> 
          <i class="fas fa-chart-line me-2"></i>
            <% if current_user.admin? %>
              Admin Dashboard
            <% else %>
              Seller Dashboard
            <% end %>
        <% end %>
      </div>

      <ul class="nav nav-pills flex-column mb-auto">
        <li class="nav-item">
          <%= link_to admin_products_path, class: "nav-link #{current_page?(admin_products_path) ? 'active' : ''}" do %>
            <i class="fas fa-cube"></i> Products
          <% end %>
        </li>
        <li>
          <%= link_to admin_categories_path, class: "nav-link #{current_page?(admin_categories_path) ? 'active' : ''}" do %>
            <i class="fas fa-tags"></i> Categories
          <% end %>
        </li>
        <% if policy(:admin).index? %>
        <li>
          <%= link_to admin_users_path, class: "nav-link #{current_page?(admin_users_path) ? 'active' : ''}" do %>
            <i class="fas fa-users"></i> Users
          <% end %>
        </li>
        <% end %>
      </ul>

      <div class="user-menu">
        <%= render 'layouts/shared/user_menu' %>
      </div>
    </div>