<div id="<%= dom_id order %>">
  <p>
    <strong>User:</strong>
    <%= order.user_id %>
  </p>

  <p>
    <strong>status:</strong>
    <%= order.status %>
  </p>

  <p>
    <strong>total_amount:</strong>
    <%= order.total_amount %>
  </p>

  <p>
    <strong>payment_status:</strong>
    <%= order.payment_status %>
  </p>

</div>
