<div id="<%= dom_id asset %>">
  <p>
    <strong>Tite:</strong>
    <%= asset.tite %>
  </p>

  <p>
    <strong>Creator:</strong>
    <%= asset.creator %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= asset.description %>
  </p>

  <p>
    <strong>Published date:</strong>
    <%= asset.published_date %>
  </p>

</div>
