<div id="<%= dom_id product %>">
  <p>
    <strong>User:</strong>
    <%= product.user_id %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= product.name %>
  </p>

  <% if product.asset.attached? %>
    <p>
      <% if product.asset.content_type.start_with?('image/') %>
        <%= image_tag product.asset %>
      <% elsif product.asset.content_type.start_with?('video/') %>
        <%= video_tag url_for(product.asset), controls: true, width: 320 %>
      <% else %>
        <%= link_to "Download file", url_for(product.asset) %>
      <% end %>
    </p>
  <% end %>

  <p>
    <strong>Description:</strong>
    <%= product.description %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= product.price %>
  </p>

  <p>
    <strong>Average rating:</strong>
    <%= product.average_rating %>
  </p>

  <p>
    <strong>Category:</strong>
    <%= product.category_id %>
  </p>

</div>
